<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout/layout" ng-app="myApp">
<head>
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<meta name="_csrf" th:content="${_csrf.token}" />
	<title th:text="${title}">Title</title>

	<link rel="stylesheet" th:href="@{/dist/app1/css/style.min.css}"
		href="/dist/app1/css/style.min.css" />
	<script src="/dist/app1/js/app.min.js"></script>
</head>
<body>
<!-- 	<div class="view-container"> -->
<!--     	<div data-ng-view class="view-frame"></div> -->
<!--   	</div> -->
	<section layout:fragment="content">
		<div class="mobile-content">
			<div ng-view="" ng-class="slide"></div>
		</div>
	</section>
</body>
</html>
