<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Layout page</title>
    <meta name="HandheldFriendly" content="true"></meta>
	<meta name="MobileOptimized" content="width"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no"></meta>
	<meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
	<meta name="format-detection" content="telephone=no"></meta>
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}"
		href="/dist/css/bootstrap.min.css"></link>
	 <link rel="stylesheet" th:href="@{/dist/css/common.min.css}"
		href="/dist/css/common.min.css"></link>
  </head>
  <body>
  	<div class="container">
	    <header>
	      <nav class="navbar navbar-default" role="navigation" >
	      	<div class="navbar-header">
      			<a class="navbar-brand" href="http://www.thymeleaf.org">Sping Demo</a>
  			</div>

  			<div>
		   		<ul class="nav navbar-nav">
		            <li><a th:href="@{/}" href="home.html"> Home </a></li>
		            <li><a th:href="@{/logout}" href="logout"> Logout </a></li>
		            <li><a th:href="@{/rxjs}" href="rxjs"> 
		            	<div sec:authentication="name" />
				    </a>
				    </li>
		      	</ul>
	      	</div>
	      </nav>
	    </header>
	    <section layout:fragment="content">
	      <p>Page content goes here</p>
	    </section>
	    <footer class="footer">
	       <div class="ftmenu"><a href="/">电脑版</a> |   <a href="/">触屏版</a> | <a href="app.html">下载APP</a></div>
	       <div class="copyright">&copy; 2016 Spring Demo All rights reserved<br />沪ICP备1888888号-3</div>
	       <p layout:fragment="custom-footer">Custom footer here</p>
	    </footer>
	 </div>
  </body>
</html>