<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Layout page</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
            Plain </a>
          <ul class="nav">
            <li><a th:href="@{/}" href="home.html"> Home </a></li>
            <li><a th:href="@{/logout}" href="logout"> Logout </a></li>
          </ul>
        </div>
      </div>
    </header>
    <section layout:fragment="content">
      <p>Page content goes here</p>
    </section>
    <footer>
      <p>My footer</p>
      <p layout:fragment="custom-footer">Custom footer here</p>
    </footer>  
  </body>
</html>