<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout/layout">
<head>
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<meta name="_csrf" th:content="${_csrf.token}" />
<!--	<title th:text="${title}">Title</title> -->
	<title ng-bind="$state.current.name">angular demo</title>
	<link rel="stylesheet" href="/dist/app2/css/style.min.css" />
	<link rel="stylesheet" href="/dist/css/select.min.css" />
	<link rel="stylesheet" href="/dist/css/select.min.css" />
	<link rel="stylesheet" href="/dist/css/ngDialog.css" />
	<link rel="stylesheet" href="/dist/css/ngDialog-theme-plain.css" />
	<script src="/dist/app2/js/app.js"></script>
	<script src="/dist/js/select.min.js"></script>
<!--	<base href="/rxjs"></base> -->
</head>
<body ng-app="rxApp">
	<section layout:fragment="content">
		<div class="page-header">
        	<h2>Reactive Angular Demo</h2>
      	</div>

		 <div class="slide" ui-view=""></div>

		<hr />
	    <pre>
	      <!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->
	      $state = {{$state.current.name}}
	      $stateParams = {{$stateParams}}
	      $state full url = {{ $state.$current.url.source }}
	      <!-- $state.$current is not a public api, we are using it to
	           display the full url for learning purposes-->
	    </pre>
	</section>

</body>
</html>
