<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout/layout">
<head>
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<meta name="_csrf" th:content="${_csrf.token}" />
	<title th:text="${title}">Title</title>
	<link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}"
		href="/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/dist/app2/css/style.min.css" />
	<script src="/dist/app2/js/app.min.js"></script>
	<base href="/rxjs"></base>
</head>
<body ng-app="rxApp">
	<section layout:fragment="content">
		<div rx-drag=''>Drag Me!</div>
		<div  ng-controller="RxCtrl">
			 <form ng-submit="submit(search)">
			      <h2>Reactive Angular - Wikipedia Example</h2>
			      <input type="text" ng-model="search"></input>
			      <button>Search</button>
			  </form>
		</div>
	</section>

</body>
</html>
