<div class="row">
  <div class="span3">
    <div class="pa-sidebar well well-small">
      <ul class="nav nav-list">
        <li ng-class="{ active: $state.includes('custs.list') }"><a ui-sref="custs.list">All Customers</a></li>
        <li class="nav-header">Top Customer</li>

        <!-- This <li> will only add the 'active' class if 'contacts.detail' or its descendants are active
             AND if it is the link for the active contact (aka contactId) -->
        <li ng-repeat="cust in custs | limitTo: 2">

          <!-- Here's a ui-sref that is also providing necessary parameters -->
          <a ui-sref="custs.detail({custId:cust.ID})">{{cust.name}}</a>
        </li>
      </ul>

      <!-- Another named view -->
      <div ui-view="menuTip" class="slide"></div>
    </div>
  </div>

  <!-- Our unnamed main ui-view for this template -->
  <div ui-view class="span9 slide"></div>
</div>