<script type="text/ng-template" id="firstDialogId">
        <div class="ngdialog-message">
            <h3>ngDialog modal example</h3>
            <p>The <code>.openConfirm()</code> function returns a promise that is resolved when confirmed and rejected when otherwise closed. Modal dialogs by default do not close when clicked outside the dialog or when hitting escape. This can ofcourse be overridden when opening the dialog.</p>
            <p>Confirm can take a value. Enter one here for example and see the console output: <input ng-model="confirmValue" /></p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
        </div>
</script>

<div class="container">
	<form ng-submit="submit(search)">
		<div lass="row">
			<div class="col-md-3">
				<input type="text" ng-model="search.term"></input> 
			</div>
			<div class="col-md-6">

				<p class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
			<div class="col-md-3">
				<button>Search</button>
			</div>
		</div>
	</form>

	<table class="table">
		<caption>查询列表</caption>
		<thead>
			<tr>
				<th>名称</th>
				<th>邮件</th>
				<th>年龄</th>
				<th>状态</th>
				<th>处理</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cust in results">
				<td>{{cust.name}}</td>
				<td>{{cust.email}}</td>
				<td>{{cust.age}}</td>
				<td>{{cust.state}}</td>
				<td>
					<div>
						<a class="btn btn-primary" ui-sref='custs.detail({custId:cust.id})'>编辑</a><span>&nbsp;&nbsp;</span><button class="btn btn-primary" ng-click="openDefault()">冻结</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<uib-pagination max-size=10 total-items="search.totalItems"  items-per-page="search.itemsPerPage" ng-model="search.currentPage" ng-change="pageChanged()"></uib-pagination>
    <p>
        Total items: {{search.totalItems}}<br />
        Items per page: {{search.itemsPerPage}}<br />
        Current Page: {{search.currentPage}}
    </p>
</div>