<div class="container">
	<form ng-submit="submit(search)">
		<input type="text" ng-model="search"></input>
		<button>Search</button>
	</form>

	<table class="table">
		<caption>查询列表</caption>
		<thead>
			<tr>
				<th>名称</th>
				<th>邮件</th>
				<th>年龄</th>
				<th>状态</th>
				<th>处理</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cust in results">
				<td>{{cust.name}}</td>
				<td>{{cust.email}}</td>
				<td>{{cust.age}}</td>
				<td>{{cust.state}}</td>
				<td>
					<div>
						<a ui-sref='list.detail({custId:cust.ID})'>编辑</a><button>冻结</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
          <div ui-view=""/>
     </div>
</div>