<div class="container">
     <form class="form-horizontal" role="form" name="form">
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">名字</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="username" ng-model="currentCust.name"
						placeholder="请输入名字"></input>
				</div>
				<span class="col-sm-2" />
			</div>
			
			<div class="form-group">
				<label for="password" class="col-sm-2  control-label">邮箱</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="password" ng-model="currentCust.email"
						placeholder="请输入邮箱"></input>
				</div>
				<span class="col-sm-2" />
			</div>

			<div class="form-group">
				<label for="password" class="col-sm-2  control-label">年龄</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="age" ng-model="currentCust.age"
						placeholder="请输入年龄"></input>
				</div>
				<span class="col-sm-2" />
			</div>

			<div class="form-group">
				<label for="password" class="col-sm-2  control-label">状态</label>

				<div class="col-sm-8">
					<ui-select ng-model="selectedItem">
					    <ui-select-match>
					        <span ng-bind="$select.selected.name"></span>
					    </ui-select-match>
					    <ui-select-choices repeat="item in (stateArray | filter: $select.search) track by item.id">
					        <span ng-bind="item.name"></span>
					    </ui-select-choices>
					</ui-select>
				</div>
				<span class="col-sm-2" />
			</div>

  			<div class="form-group">
  				 <div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary" ng-click="submit()">提交</button><span>&nbsp;&nbsp;</span><button class="btn btn-primary" ng-click="cancel()">取消</button>
				</div>
			</div>
			
		</form>
</div>