<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout" ng-app="main">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"></meta>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
	<meta name="_csrf" th:content="${_csrf.token}"></meta>
	<title th:text="${title}">Title</title>
	<script src="/dist/main/js/main.min.js"></script>
	<base href="/"></base>
</head>
<body>
	<section layout:fragment="content">
      <ul class="nav nav-pills nav-stacked">
	   <li class="active"><a href="#">Home</a></li>
	   <li><a href="/angular">angular</a></li>
	   <li><a href="/thymeleaf">Thymeleaf</a></li>
	   <li><a href="/rxjava">RxJava</a></li>
	   <li><a href="/rxjs">RxJS</a></li>
	   <li><a href="/security">Security</a></li>
	  </ul>
    </section>
    <footer>
      <p layout:fragment="custom-footer">This is some footer content from home page</p>
    </footer>
</body>
</html>
