<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout/layout">
<head>
<title>Login</title>
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="width">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
</head>
<body onload="document.forms.username.focus();">
	<section layout:fragment="content">
		<p th:if="${param.logout}" class="alert">You have been logged out</p>
		<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
		<h2>Login with Username and Password</h2>
		<form name="form" th:action="@{/login}" action="/login" method="POST">
			<fieldset>
				<input type="text" name="username" value="" placeholder="Username" />
				<input type="password" name="password" placeholder="Password" />
			</fieldset>
			<input type="submit" id="login" value="Login"
					class="btn btn-primary" />
		</form>
	</section>
</body>
</html>