<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout/layout">
<head>
<title>Login</title>

</head>
<body onload="document.forms.username.focus();">
	<section layout:fragment="content">
		<p th:if="${param.logout}" class="alert">You have been logged out</p>
		<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
		<div class="page-header">
        	<h2>登录</h2>
      	</div>
		<form class="form-horizontal" role="form" name="form" th:action="@{/login}" action="/login" method="POST">
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">名字</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username" ng-model="user.name"
						placeholder="请输入名字"></input>
				</div>
			</div>
			
			<div class="form-group">
				<label for="password" class="col-sm-2  control-label">密码</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="password" ng-model="user.password"
						placeholder="请输入密码"></input>
				</div>
			</div>
			<div class="form-group">
		      <div class="col-sm-offset-2 col-sm-10">
		         <div class="checkbox">
		            <label>
		               <input type="checkbox"> 请记住我 </input>
		            </label>
		         </div>
		      </div>
			</div>
  			<div class="form-group">
  				 <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">提交</button>
					<a href="/register">注册</a>
				</div>
			</div>
			
		</form>
	</section>
</body>
</html>