<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout">
<head>
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="_csrf" th:content="${_csrf.token}" />
<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/dist/app3/css/style.min.css}"
		href="/dist/app3/css/style.min.css" />
<script src="/dist/app3/js/app.min.js"></script>
</head>
<body ng-app='themleaf'>
	<section layout:fragment="content">
		<h1 th:text="${title}">Title</h1>
		<div id='trans' th:text="${message}">Fake content</div>
		<div id="rot" th:text="${#dates.format(date)}">July 11,
			2012 2:17:16 PM CDT</div>
		<button class="clickme">clickme</button>
	</section>
</body>
</html>
